.title{
    display: flex;
    justify-content: center;
}
h1 {
    color: gold;
}

.image {
    
    height: 300px;
    width: 300px;
    border-color: black;
    border-style: solid;
}

body {
    background-color: green;
}

.bottomfoot {
    display: flex;
    justify-content: center;
    background:white;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 100%;
    height: 100px;
}


